/*全局样式*/
* {
    padding:0 !important;
    margin:0 !important;
    font-size:12px;
}
/*边距*/
.padding-top-12 {
    padding-top:1em !important;
}
.padding-top-6 {
    padding-top:0.5em !important;
}

/*字体颜色*/
.color-white {
    color:white !important;
}