<div class="col-xs-2"></div>
<div class="col-xs-8 login-form">
    <from action="/login" method="post">
        <input id="username" class="col-xs-12" placeholder="请输入用户名" name="username" />
        <input id="password" class="col-xs-12" placeholder="请输入密码" name="password" />
        <button (click)="login()" id="loginBtn" type="submit" class="col-xs-12 text-center background-white bg-primary">登录</button>
    </from>
</div>
<div *ngFor="let login_status of login_status">
    <div [routerLink]="['/post']" *ngIf="login_status.login_status == 200">
        发表文章
    </div>
    <div *ngIf="login_status.login_status == 400">
        登录错误
    </div>
</div>
<div class="col-xs-2"></div>