<router-outlet></router-outlet>
<div class="col-xs-12 navbar navbar-fixed-bottom bg-primary padding-top-6 footer">
    <a [routerLink]="['/']">
        <div class="col-xs-4">
            <i class="glyphicon glyphicon-home text-center col-xs-12 text-muted color-white"></i>
            <a class="col-xs-12 text-center text-muted color-white padding-top-6">主页</a>
        </div>
    </a>
    <a [routerLink]="['/article']">
        <div class="col-xs-4">
            <i class="glyphicon glyphicon-pencil text-center col-xs-12 text-muted color-white"></i>
            <a class="col-xs-12 text-center text-muted color-white padding-top-6">日志</a>
        </div>
    </a>
    <a [routerLink]="['/user']">
        <div class="col-xs-4">
            <i class="glyphicon glyphicon-tag text-center col-xs-12 text-muted color-white"></i>
            <a class="col-xs-12 text-center text-muted color-white padding-top-6">个人</a>
        </div>
    </a>
</div>